@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 span{
    color:chocolate;
}

.logo{
    width:100vw;
    display:flex;
    justify-content: center;
    font-size:40px;
    background-color: rgb(241, 239, 236);
    height:80px;
    margin: -10px;
    font-size: 35px;
    align-items: center;
}

.logo h1{
    margin-top: -5px;
}

.form{
    width:55vw;
    height:10vh;
    background-color: #F1ECE6;
    border-radius:50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.add{
    background-color: cornflowerblue;
    width: 140px;
    height: 10vh;
    border-radius: 0px 50px 50px 0px;
    color:white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}

.form input{
    border:0px;
    background-color: #f1ece600;
    border-radius: 50px 0px 0px 50px;
    font-size:32px;
    color: #969696;
    padding-left: 35px;
    width:900px;
}

.list{
    width:55vw;
    height:65vh;
    background-color: #F1ECE6;
    border-radius: 50px;
    margin-top: 40px;
    padding-top: 15px;
    position:relative;
}

.task{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    margin-top:15px;
}

.task-check img{
    width:2vw;
}

.task-text{
    flex-grow: 1;
    font-size: 20px;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 10px;
}

.add:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
    background-color: rgb(40, 109, 237);
}

.task-check{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.task-delete{
    display: flex;
    align-items: center;
}

.clear-completed{
    position: absolute;
    right: 50px;
    bottom:20px;
    display: flex;
    color:#D98326;
    align-items: center;
    width:180px;
    justify-content: space-between;
}

.clear-completed:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.done .task-text{
    text-decoration: line-through;
}

#checked{
    display:none;
}

.done #checked{
    display: block;
}

.done #unchecked{
    display: none;
}